SECRET_KEY=
DEBUG=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=

EXTRA_HOSTS=
ORACLE_DB_NAME=
ORACLE_DB_USER=
ORACLE_DB_PASSWORD=
ORACLE_DB_HOST=
ORACLE_DB_PORT=

APP_PORT=
CONTAINER_NAME_APP=
CONTAINER_DB_NAME=
CONTAINER_NAME_NGINX=